.aboutbanner {
    height: 382px;
    background: url(../img/guanyu.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
    color: #000000;
	margin-top: 5.1rem;
}
.zhengwen {
	font: normal 13px "PingFang SC";
	margin: 82px 400px 82px 120px;
	line-height: 2;
}
.about-title {
	font: normal 38px "PingFang SC";
}
.about-small-title {
	font: bold 23px "PingFang SC";
}
.aboutbanner .am-container {
	max-width: 1440px;
	margin-left: 120px;
	padding: 47px 0px;
}
.am-article-bd p {
	font-size: 13px;
}
