.memberbanner {
    height: 382px;
    background: url(../img/huiyuan01.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
    color: #000000;
	margin-top: 5.1rem;
}
.memberbanner .am-container {
	max-width: 1440px;
	margin-left: 120px;
	padding: 47px 0px;
}
.member .am-slider {
	margin-bottom: 0;
}
.m-gray-container {
	background-color: #F6F6F6;
	padding: 75px 0px;
}
.m-white-container {
	padding: 75px 0px;
}
.m-banner-text {
	font-size: 12px;
	margin: 11px 0 0 0;
	max-width: 275px;
	font-weight: 100;
}
.m-card-title {
	font-size: 18px;
	margin: 10px 0 0 0;
	font-weight: 100;
}
.m-card-text {
	font-size: 13px;
	margin: 0;
}
.m-card-small-title {
	font-size: 16px;
	margin: 10px 0 0 0;
}
.m-card-small-text {
	font-size: 13px;
	font-weight: 100;
	margin: 12px 0 0 0;
	max-width: 85%;
}
.m-card-title-margin {
	margin-top: 39px;
}
.card .am-container {
	max-width: none;
}
.m-img-center {
	margin: auto;
}
.card-form form {
	margin-top: 31px;
}
.card-form .am-form-group {
	padding: 0;
}
.card-form fieldset {
	padding: 0;
}
.card-form input {
	font-weight: 100;
}
.card-form  label {
	font-weight: 500;
}
.card-form input[type=text] {
	width: 28%;
}
.card-form .am-form-group .lg-input {
	width: 56.4%;
}
button.m-shop {
	border:solid 1px #979797;
	background-color: transparent;
}
button.m-commit {
	border: solid 1px #000000;
	line-height: 1.5;
	font-size: 13px;
	margin: 20px 0;
	width: 9%;
}
.card .fontDetails {
	font-weight: 100;
}
.m-footer {
	background-color: #F6F6F6;
	margin-top: 0;
	padding-top: 116px;
}
.m-form-footer {
	background-color: #F6F6F6;
	margin-top: 0;
}