/*首页*/
.Mobilebigbanner {
    height: 200px;
    background: url(../img/01HOME1.png) no-repeat center;
    -webkit-background-size:cover;
    background-size: cover;
    color: #fff;
}
.Mobilebigbanner .box {
    padding-top: 160px;
    padding-bottom: 20px;
    height:auto;
    margin: 0 20px;
}
.Mobilebigbanner .box .am-container{
    padding-top: 20px;
    background: #fff;
}
.Mobilebigbanner .am-container > .am-g {
    margin-right: 0;
    margin-left: 0;
}
/*当前展览*/
.MobilebigbannerTwo {
    height: 350px;
    background: url(../img/03-01DQ1.png) no-repeat center;
    -webkit-background-size:cover;
    background-size: cover;
    color: #fff;
}
.MobilebigbannerTwo .am-container {
    padding-top: 20px;
    padding-bottom: 20px;
    height:auto;
}
/*展览回顾*/
.MobilebigbannerThree {
    height: 350px;
    background: url(../img/05-03XQ1.png) no-repeat center;
    -webkit-background-size:cover;
    background-size: cover;
    color: #fff;
}
.MobilebigbannerThree .am-container {
    padding-top: 20px;
    padding-bottom: 20px;
    height:auto;
}
/*活动回顾详情*/
.Mobilebigbigbannerfour {
    height: 350px;
    background: url(../img/10KID5.png) no-repeat center;
    -webkit-background-size:cover;
    background-size: cover;
    color: #fff;
}
.Mobilebigbigbannerfour .am-container {
    height:auto;
}