/*storebanner_1 start*/
.storebanner_1{
    height: 680px;
    background: url(../img/14STORE1.png) no-repeat center;
    -webkit-background-size:cover;
    background-size: cover;
    color: #fff;
    margin-left: 12.6%;
    margin-right: 13.5%;
    margin-top: 4%;
}
.storebanner_1 .am-container{
    padding-top: 300px;
}
.storebanner_1 .am-container h2{
    font:normal 40px/50px "微软雅黑";
    letter-spacing:5px;
    font-weight: 400;
    cursor: pointer;
}
@media only screen and (max-width: 640px) {
    .storebanner_1 .am-container h2{
        font-size:30px;
        letter-spacing:5px;
    }
}
@media only screen and (max-width: 500px) {
    .storebanner_1 .am-container h2{
        font-size:20px;
        letter-spacing:5px;
    }
}
.storebanner_1 .am-container p{
    font:normal 30px/38px "微软雅黑";
    letter-spacing:5px;
}
@media only screen and (max-width: 640px) {
    .storebanner_1 .am-container p{
        font:normal 22px/30px "微软雅黑";
        letter-spacing:5px;
    }
}
@media only screen and (max-width: 500px) {
    .storebanner_1 .am-container p{
        font:normal 16px/24px "微软雅黑";
        letter-spacing:5px;
    }
}
/*storebanner_1 end*/

/*storebanner_2 start*/
.storebanner_2{
    height: 680px;
    background: url(../img/14STORE1Copy2.png) no-repeat center;
    -webkit-background-size:cover;
    background-size: cover;
    color: #fff;
    margin-left: 12.6%;
    margin-right: 13.5%;
    margin-top: 4%;
}
.storebanner_2 .am-container{
    padding-top: 300px;
}
.storebanner_2 .am-container h2{
    font:normal 40px/50px "微软雅黑";
    letter-spacing:5px;
    font-weight: 400;
    cursor: pointer;
}
@media only screen and (max-width: 640px) {
    .storebanner_2 .am-container h2{
        font-size:30px;
        letter-spacing:5px;
    }
}
@media only screen and (max-width: 500px) {
    .storebanner_2 .am-container h2{
        font-size:20px;
        letter-spacing:5px;
    }
}
.storebanner_2 .am-container p{
    font:normal 30px/38px "微软雅黑";
    letter-spacing:5px;
}
@media only screen and (max-width: 640px) {
    .storebanner_2 .am-container p{
        font:normal 22px/30px "微软雅黑";
        letter-spacing:5px;
    }
}
@media only screen and (max-width: 500px) {
    .storebanner_2 .am-container p{
        font:normal 16px/24px "微软雅黑";
        letter-spacing:5px;
    }
}
/*storebanner_2 end*/


/*storebanner_3 start*/
.storebanner_3{
    height: 680px;
    background: url(../img/14STORE1Copy3.png) no-repeat center;
    -webkit-background-size:cover;
    background-size: cover;
    color: #fff;
    margin-left: 12.6%;
    margin-right: 13.5%;
    margin-top: 4%;
}
.storebanner_2 .am-container{
    padding-top: 300px;
}
.storebanner_3 .am-container h2{
    font:normal 40px/50px "微软雅黑";
    letter-spacing:5px;
    font-weight: 400;
    cursor: pointer;
}
@media only screen and (max-width: 640px) {
    .storebanner_3 .am-container h2{
        font-size:30px;
        letter-spacing:5px;
    }
}
@media only screen and (max-width: 500px) {
    .storebanner_3 .am-container h2{
        font-size:20px;
        letter-spacing:5px;
    }
}
.storebanner_3 .am-container p{
    font:normal 30px/38px "微软雅黑";
    letter-spacing:5px;
}
@media only screen and (max-width: 640px) {
    .storebanner_3 .am-container p{
        font:normal 22px/30px "微软雅黑";
        letter-spacing:5px;
    }
}
@media only screen and (max-width: 500px) {
    .storebanner_3 .am-container p{
        font:normal 16px/24px "微软雅黑";
        letter-spacing:5px;
    }
}
/*storebanner_3 end*/

/*storebanner_4 start*/
.storebanner_4{
    height: 680px;
    background: url(../img/14STORE1Copy4.png) no-repeat center;
    -webkit-background-size:cover;
    background-size: cover;
    color: #fff;
    margin-left: 12.6%;
    margin-right: 13.5%;
    margin-top: 4%;
}
.storebanner_4 .am-container{
    padding-top: 300px;
}
.storebanner_4 .am-container h2{
    font:normal 40px/50px "微软雅黑";
    letter-spacing:5px;
    font-weight: 400;
    cursor: pointer;
}
@media only screen and (max-width: 640px) {
    .storebanner_4 .am-container h2{
        font-size:30px;
        letter-spacing:5px;
    }
}
@media only screen and (max-width: 500px) {
    .storebanner_4 .am-container h2{
        font-size:20px;
        letter-spacing:5px;
    }
}
.storebanner_4 .am-container p{
    font:normal 30px/38px "微软雅黑";
    letter-spacing:5px;
}
@media only screen and (max-width: 640px) {
    .storebanner_4 .am-container p{
        font:normal 22px/30px "微软雅黑";
        letter-spacing:5px;
    }
}
@media only screen and (max-width: 500px) {
    .storebanner_4 .am-container p{
        font:normal 16px/24px "微软雅黑";
        letter-spacing:5px;
    }
}
/*storebanner_4 end*/

/*storebanner_5 start*/
.storebanner_5{
    height: 680px;
    background: url(../img/14STORE1Copy5.png) no-repeat center;
    -webkit-background-size:cover;
    background-size: cover;
    color: #fff;
    margin-left: 12.6%;
    margin-right: 13.5%;
    margin-top: 4%;
}
.storebanner_5 .am-container{
    padding-top: 300px;
}
.storebanner_5 .am-container h2{
    font:normal 40px/50px "微软雅黑";
    letter-spacing:5px;
    font-weight: 400;
    cursor: pointer;
}
@media only screen and (max-width: 640px) {
    .storebanner_5 .am-container h2{
        font-size:30px;
        letter-spacing:5px;
    }
}
@media only screen and (max-width: 500px) {
    .storebanner_5 .am-container h2{
        font-size:20px;
        letter-spacing:5px;
    }
}
.storebanner_5 .am-container p{
    font:normal 30px/38px "微软雅黑";
    letter-spacing:5px;
}
@media only screen and (max-width: 640px) {
    .storebanner_5 .am-container p{
        font:normal 22px/30px "微软雅黑";
        letter-spacing:5px;
    }
}
@media only screen and (max-width: 500px) {
    .storebanner_5 .am-container p{
        font:normal 16px/24px "微软雅黑";
        letter-spacing:5px;
    }
}
/*storebanner_5 end*/





/*new*/
/*
!*storebanner_1 start*!
.storebanner_1 {
    height: 382px;
    background: url(../img/14STORE1.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
    color: #000000;
    !*margin-top: 5.1rem;*!
}
.storebanner_2{
    height: 382px;
    background: url(../img/14STORE1Copy2.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
    color: #000000;
    !*margin-top: 5.1rem;*!
}
.storebanner_3{
    height: 382px;
    background: url(../img/14STORE1Copy3.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
    color: #000000;
    !*margin-top: 5.1rem;*!
}
.ownPadding {
    padding: 2% 40%;
}
.ownbackground {
    padding: 10px;
    background: rgba(0,0,0,0.2) none repeat scroll !important;
}
.ownText {
    position: relative;
}
.ownmargin {
    margin-left: -1rem !important;
    margin-right: -1rem !important;
}
@media only screen and (max-width: 640px) {
    .ownPadding {
        padding: 4% 20%;
    }
}
@media only screen and (max-width: 500px) {
    .ownPadding {
        padding: 4% 20%;
    }
}


!*.storebanner_1 .am-container{
    padding-top: 300px;
}
.storebanner_1 .am-container h2{
    font:normal 40px/50px "微软雅黑";
    letter-spacing:5px;
    font-weight: 400;
    cursor: pointer;
}*!
@media only screen and (max-width: 640px) {
    .storebanner_1 .am-container h2{
        font-size:30px;
        letter-spacing:5px;
    }
    .ownPadding {
        padding: 4% 20%;
    }
}
@media only screen and (max-width: 500px) {
    .storebanner_1 .am-container h2{
        font-size:20px;
        letter-spacing:5px;
    }
    .ownPadding {
        padding: 4% 20%;
    }
}
.storebanner_1 .am-container p{
    font:normal 30px/38px "微软雅黑";
    letter-spacing:5px;
}
@media only screen and (max-width: 640px) {
    .storebanner_1 .am-container p{
        font:normal 22px/30px "微软雅黑";
        letter-spacing:5px;
    }
}
@media only screen and (max-width: 500px) {
    .storebanner_1 .am-container p{
        font:normal 16px/24px "微软雅黑";
        letter-spacing:5px;
    }
}
!*storebanner_1 end*!

!*storebanner_2 start*!
!*.storebanner_2{
    height: 680px;
    background: url(../img/14STORE1Copy2.png) no-repeat center;
    -webkit-background-size:cover;
    background-size: cover;
    color: #fff;
    margin-left: 12.6%;
    margin-right: 13.5%;
    margin-top: 4%;
}
.storebanner_2 .am-container{
    padding-top: 300px;
}
.storebanner_2 .am-container h2{
    font:normal 40px/50px "微软雅黑";
    letter-spacing:5px;
    font-weight: 400;
    cursor: pointer;
}*!
@media only screen and (max-width: 640px) {
    .storebanner_2 .am-container h2{
        font-size:30px;
        letter-spacing:5px;
    }
}
@media only screen and (max-width: 500px) {
    .storebanner_2 .am-container h2{
        font-size:20px;
        letter-spacing:5px;
    }
}
.storebanner_2 .am-container p{
    font:normal 30px/38px "微软雅黑";
    letter-spacing:5px;
}
@media only screen and (max-width: 640px) {
    .storebanner_2 .am-container p{
        font:normal 22px/30px "微软雅黑";
        letter-spacing:5px;
    }
}
@media only screen and (max-width: 500px) {
    .storebanner_2 .am-container p{
        font:normal 16px/24px "微软雅黑";
        letter-spacing:5px;
    }
}
!*storebanner_2 end*!


!*storebanner_3 start*!
!*.storebanner_3{
    height: 680px;
    background: url(../img/14STORE1Copy3.png) no-repeat center;
    -webkit-background-size:cover;
    background-size: cover;
    color: #fff;
    margin-left: 12.6%;
    margin-right: 13.5%;
    margin-top: 4%;
}
.storebanner_2 .am-container{
    padding-top: 300px;
}
.storebanner_3 .am-container h2{
    font:normal 40px/50px "微软雅黑";
    letter-spacing:5px;
    font-weight: 400;
    cursor: pointer;
}*!
@media only screen and (max-width: 640px) {
    .storebanner_3 .am-container h2{
        font-size:30px;
        letter-spacing:5px;
    }
}
@media only screen and (max-width: 500px) {
    .storebanner_3 .am-container h2{
        font-size:20px;
        letter-spacing:5px;
    }
}
.storebanner_3 .am-container p{
    font:normal 30px/38px "微软雅黑";
    letter-spacing:5px;
}
@media only screen and (max-width: 640px) {
    .storebanner_3 .am-container p{
        font:normal 22px/30px "微软雅黑";
        letter-spacing:5px;
    }
}
@media only screen and (max-width: 500px) {
    .storebanner_3 .am-container p{
        font:normal 16px/24px "微软雅黑";
        letter-spacing:5px;
    }
}
!*storebanner_3 end*!

!*storebanner_4 start*!
.storebanner_4{
    height: 680px;
    background: url(../img/14STORE1Copy4.png) no-repeat center;
    -webkit-background-size:cover;
    background-size: cover;
    color: #fff;
    margin-left: 12.6%;
    margin-right: 13.5%;
    margin-top: 4%;
}
.storebanner_4 .am-container{
    padding-top: 300px;
}
.storebanner_4 .am-container h2{
    font:normal 40px/50px "微软雅黑";
    letter-spacing:5px;
    font-weight: 400;
    cursor: pointer;
}
@media only screen and (max-width: 640px) {
    .storebanner_4 .am-container h2{
        font-size:30px;
        letter-spacing:5px;
    }
}
@media only screen and (max-width: 500px) {
    .storebanner_4 .am-container h2{
        font-size:20px;
        letter-spacing:5px;
    }
}
.storebanner_4 .am-container p{
    font:normal 30px/38px "微软雅黑";
    letter-spacing:5px;
}
@media only screen and (max-width: 640px) {
    .storebanner_4 .am-container p{
        font:normal 22px/30px "微软雅黑";
        letter-spacing:5px;
    }
}
@media only screen and (max-width: 500px) {
    .storebanner_4 .am-container p{
        font:normal 16px/24px "微软雅黑";
        letter-spacing:5px;
    }
}
!*storebanner_4 end*!

!*storebanner_5 start*!
.storebanner_5{
    height: 680px;
    background: url(../img/14STORE1Copy5.png) no-repeat center;
    -webkit-background-size:cover;
    background-size: cover;
    color: #fff;
    margin-left: 12.6%;
    margin-right: 13.5%;
    margin-top: 4%;
}
.storebanner_5 .am-container{
    padding-top: 300px;
}
.storebanner_5 .am-container h2{
    font:normal 40px/50px "微软雅黑";
    letter-spacing:5px;
    font-weight: 400;
    cursor: pointer;
}
@media only screen and (max-width: 640px) {
    .storebanner_5 .am-container h2{
        font-size:30px;
        letter-spacing:5px;
    }
}
@media only screen and (max-width: 500px) {
    .storebanner_5 .am-container h2{
        font-size:20px;
        letter-spacing:5px;
    }
}
.storebanner_5 .am-container p{
    font:normal 30px/38px "微软雅黑";
    letter-spacing:5px;
}
@media only screen and (max-width: 640px) {
    .storebanner_5 .am-container p{
        font:normal 22px/30px "微软雅黑";
        letter-spacing:5px;
    }
}
@media only screen and (max-width: 500px) {
    .storebanner_5 .am-container p{
        font:normal 16px/24px "微软雅黑";
        letter-spacing:5px;
    }
}
!*storebanner_5 end*!*/
